version: '3.8'

services:
  neo4j:
    image: neo4j:latest
    container_name: neo4j
    ports:
      - "7474:7474"   # HTTP port for Neo4j Browser and API
      - "7687:7687"   # Bolt port for database connections
    environment:
      - NEO4J_AUTH=neo4j/bot-neo4j # customer username/password
      - NEO4JLABS_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*,gds.*
      - NEO4J_dbms_security_procedures_allowlist=apoc.*,gds.*
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_dbms_memory_pagecache_size=512m
      - NEO4J_dbms_memory_heap_initial__size=1G
      - NEO4J_dbms_memory_heap_max__size=2G
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_import:/var/lib/neo4j/import
      - neo4j_plugins:/plugins
  
  jenkins:
    build: 
      context: ./mlops/jenkins-custom
      dockerfile: Dockerfile
    image: duc8504/jenkins:lts-jdk17
    container_name: jenkins
    # privileged: true
    # user: root
    ports:
      - 8081:8080
      - 50000:50000
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis/redis.conf:/app/redis.conf:ro
    command: ["redis-server", "/app/redis.conf"]

  
  
volumes:
  neo4j_data:
    name: neo4j_data
  neo4j_logs:
    name: neo4j_logs
  neo4j_import:
    name: neo4j_import
  neo4j_plugins:
    name: neo4j_plugins
  jenkins_home:
    name: jenkins_home
  redis_data:
    name: redis_data

# a9b74df60c52428cb2d550471c05d733